.main-title-section {
  height: 100%;
  background-color: rgb(127, 223, 255);
}
.title-section {
  // margin-top: 100px;
  color: rgb(255, 255, 255);
}
.p-welcome {
  margin-top: auto;
  font-weight: 900;
}
.p-title {
  font-weight: 700;
}